@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  font-family: "Poppins", sans-serif;
  background-image: url(../img/sfondo.png);
  background-size: 1500px;
  background-position: top right;
  display: block;
  margin: 0 auto;
  margin: 40px;
  font-size: 40px;
}
img {
  width: 500px;
}
header {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(0, 136, 170, 1) 0%,
    rgba(9, 84, 103, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
  text-align: center;
  padding: 50px;
  color: white;
  padding-top: 5rem;
  -webkit-box-shadow: 1px 0px 8px 5px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 0px 8px 5px rgba(0, 0, 0, 0.57);
}
header p {
  font-size: 40px;
}
header ul {
  list-style-type: none;
  padding-left: 0;
  margin-left: 0;
  font-size: 40px;
}

header ul li .link {
  color: white;
  text-decoration: none;
}
header ul li .link:hover {
  color: rgb(174, 0, 0);
  list-style-type: none;
  text-decoration: none;
}
main {
  background-color: #ffffff;
  box-shadow: 1px 0px 8px 5px rgba(0, 0, 0, 0.57);
  margin-top: 4rem;
  padding: 30px;
}
h1 {
  font-size: 80px;
  font-weight: 600;
  margin: 10px;
}
.autor {
  color: #00000090;
}
.purple {
  font-weight: 600;
  color: #aa2072;
}
.gray {
  background-color: #e3dedf;
  border-radius: 23px;
  padding: 8px;
  border: 2px solid rgb(124, 124, 124);
}
.sorgente tr:nth-child(even) {
  background-color: #cccccc;
}
.sorgente tr:nth-child(odd) {
  background-color: #f0f0f0;
}
table,
td,
th {
  border: 1px solid #eee;
  padding: 2px 5px;
  border-collapse: collapse;
  text-align: center;
  padding: 20px;
}

th {
  text-align: left;
  background-color: #3366cc;
  padding: 20px;
  color: rgb(255, 255, 255);
}
tr.odd td,
tr.odd th {
  background-color: #d5e4ff;
}
caption {
  font-weight: bold;
  color: #000000;
}
aside div a {
  color: #0099cc;
  font-weight: 600;
}
.video {
  width: 837px;
  height: 600px;
  border-radius: 90px;
}
h3 {
  font-weight: 500;
  font-size: 78px;
  margin: 0 auto;
  color: #452c30;
}
.novita {
  margin-top: 70px;
  background-color: #ddddde;
  text-align: center;
  padding: 30px;
}
.novita p {
  text-align: left;
}
input {
  background: #ffffff;
  color: rgb(132, 132, 132);
  display: inline;
  height: 90px;
  width: 10em;
  border: none;
  font: bold 50px "Poppins", sans-serif;
  text-shadow: none;
  font-weight: 400;
}
button {
  background: #0066a2;
  color: white;
  border: none;
  height: 90px;
  font: bold 50px "Poppins", sans-serif;
  text-shadow: none;
}
